*
{
    margin: 0;
    height: auto;
    box-sizing: border-box;
}
.wrapper
{
width: 100%;
margin: auto;
height: auto;
border: 1px black solid;
}
.part1
{
    width: 100%;
    height: 45vw;
    border: 1px black solid;
    background-image: url(images/security-background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main-header
{
    width: 100%;
     min-height: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}
.main-header .logo
{
width: 30%;
height: 50px; 
padding-left: 30px; 
color: white;
display: flex;
}
.main-header .menu
{
width: 45%; 
color:white;
size: 30px;
height: 50px;
display: flex;
padding-top:10px;
}
.main-header .menu a
{
    text-decoration:none;
    size: 20px;
    padding: 15px;
    color:white;
    font-size: 25px;
}

.main-header .menu a:hover
{
    color:white;
    background-color:lightblue;
}
.main-header .contact
{
    width: 25%;
    height: 50px;
    padding-left: 100px;
    color: white;
    display: flex;
}
.battery
{
    display: flex;
    height: 400px;
}
.battery .sec1
{
width: 45%;

}
.battery .sec2
{
width: 55%;

color: white;
}
.battery .sec2 p
{
    font-size: 20px;
    margin-right:90px;
    text-align: justify;
    padding-right: 70px;
}

.battery .sec2 h1
{
    padding-top: 10px;
    font-size: 75px;
}
.battery .sec2 h4
{
    padding-top: 148px;
}

.battery .sec2 img
{
    width: 40px;
}
.part2
{
    width:100%;
    height: 400px;
    display: flex;
}
.part2 .sec1
{
width: 50%;
background-color:lightgoldenrodyellow;
text-align: justify;
padding: 20px;
padding-left: 50px;
}
.part2 .sec1 h3
{
    padding-top: 40px;
    font-size: 30px;
    padding: 20px;
    padding-left: 50px; 
    padding-right: 50px;
} 
.part2 .sec1 p
{
    font-size: 15px;
    text-align: justify;
    font-weight: normal;
     padding-left: 20px; 
    padding: 50px;
   
}
.part2 .sec2
{
width: 50%;
background-color:red;
border: 1px black solid;
}

.part2 .sec2 .sub1
{
width: 100%;
height: 100px;
display: flex;
padding: 50px;
margin-top: 50px;
}
.part2 .sec2 .sub1 .sub 
{
    display: flex;
    margin: 35px;
    width: 25%;
    border: 1px black solid;
    height: 100px;
}
.part2 .sec2 .sub1 .sub  h4
{
    color: white;
    width: 20%;
    padding-top:50px;
    height: 20px;
}
.part2 .sec2 .sub1 .sub h1
{
color: white;
font-size: 60px;
width: 25%;
text-align: justify;

}
.part2 .sec2 .sub2 .sub h1
{
color: white;
font-size: 60px;
width: 25%;
text-align: justify;
}
.part2 .sec2 .sub2
{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 50px;

}
.part2 .sec2 .sub2 .sub
{
    display: flex;
    margin: 30px;
    width: 15%;
    height: 50px;
  
}
.part2 .sec2 .sub2 .sub h1
{
color: white;
font-size: 50px; 

}
.part3
{
    width: 100%;
    height: 850px;
}
.part3 h2
{
    padding: 20px;
    text-align: center;
}
.part3 h4
{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: normal;
    padding-bottom: 30px;
}
.part3 .sec1
{
    width: 100%;
    height: 350px;
    /* padding-right:10px;   */
}
.part3 .sec1 .sub
{
    float: left;
    width: 26%;
    height: 350px;
    margin-left: 70px;
    /* border: 1px black solid; */
}
.part3 .sec1 .sub h3
{
    padding-bottom: 5px;
}
.part3 .sec1 .sub img
{
    width: 100%;
    height: 250px;
} 
.part3 p
{
 text-align: justify;
}
.part3 .sec2
{
    width: 100%;
    height: 350px;
    padding-right:10px;
    margin-top: 10px;
}
.part3 .sec2 .sub
{
    float: left;
    width: 26%;
    height:350px;
    margin-left: 70px;
    /* border: 1px black solid; */
}
.part3 .sec2 .sub h3
{
    padding-bottom: 5px;
}

.part3 .sec2 .sub img
{
    width: 100%;
    height: 250px;
} 

.part4
{
    width: 100%;
    height: 450px;
    background-image: url(images/blue-background.jpg);
}

.part4 h2
{
padding: 20px;
text-align: center;
color: white;
padding-bottom: 40px;

}

.part4 .sec1
{
    width: 100%;
    display: flex;
    height: 140px;
    margin-left: 140px;
    text-align: center;
}
.part4 .sec1 .sub
{
    width: 27%;
    height: 100px;
    padding: 15px;

}
.part4 .sec1 .sub h3
{
    text-align: center;
    padding-bottom: 15px;
    color: white;
}
.part4 .sec1 .sub p
{
    text-align: justify;
    color: white;
}
.part4 .sec1 .sub img
{
    width:20px;
    height: 20px;
}
.part4 .sec2
{
    width: 100%;
    display: flex;
    height: 190px;
    margin-left: 140px;
}
.part4 .sec2 .sub
{
    width: 27%;
    height: 100px;
    padding: 20px;
}
.part4 .sec2 .sub img
{
    width:20px;
    height: 20px;
    margin-left: 159px;
}
.part4 .sec2 .sub h3
{
    text-align: center;
    padding-bottom: 15px;
    color: white;
}
.part4 .sec2 .sub p
{
    text-align: justify; 
    color: white;
   
}
.part5
{
    width: 100%;
    height: 250px;
   
}
.part5 h2
{
    padding: 20px;
}

.part5 .main-sub
{
    width: 100%;
    height: 250px;
    display: flex;
}
.part5 .main-sub .sub
{
    padding: 20px;  
    float: left;
}
.part5 .main-sub .sub p
{
    text-align: justify;
}
.part6
{
    width: 100%;
    height: 500px;
}
.part6 h2
{
padding: 10px;
}
.part6 .sub
{
    width: 100%;
    height: 500px;
    display: flex;
    /* border: 1px black solid; */
}
.part6 .sub .sub1
{
width: 50%;
height: 500px;
float: left;
background-color:whitesmoke;
padding: 30px;
text-align: justify;
padding-left: 20px;
padding-right: 20px;
}
.part6 .sub .sub1  ul
{
    list-style-type:square red;
}
.part6 .sub .sub2
{
width: 50%;
height: 450px;
float: right;

} 

.part6 .sub .sub2 h2
{
    text-align: center;
    margin-top: 10px;
}
.part6 .sub .sub2 .box
{
    width: 70%;
    height: 360px;
    margin: 20px;
    border-radius: 20px;
    border: 5px red solid;
    /* border-radius: 10px black solid; */
    padding: 30px;
    margin-left: 100px;
    background-color: aliceblue;
    border-top: none;
    border-bottom: none;
}
.box  div
{
    /* margin-left: 150px; */
    text-align: justify;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 8px;
}
input
{
    padding: 10px;
    width: 100%;
    margin-left:100px; 
}
input[type=Name]
{
    padding: 10px;
    margin: 5px 0 22px 0;
    background-color :rgb(239, 233, 233);
    /* background-image: url(images/username.png); 
    background-position: 10px 10px;  */
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 16px;
    border:none;
    /* border-bottom: 5px solid black; */
    outline: none;
}

input[type=email]
{
    padding: 10px;
    margin: 5px 0 22px 0;
    background-color :rgb(239, 233, 233);
    /* background-image: url(images/username.png); 
    background-position: 10px 10px;  */
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 16px;
    border:none;
    /* border-bottom: 5px solid black; */
    outline: none;
}
input[type=contact]
{
    padding: 10px;
    margin: 5px 0 22px 0;
    background-color :rgb(239, 233, 233);
    /* background-image: url(images/username.png); 
    background-position: 10px 10px;  */
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 16px;
    border:none;
    /* border-bottom: 5px solid black; */
    outline: none;
}
input[type=message]
{
    padding: 10px;
    margin: 5px 0 22px 0;
    background-color :rgb(239, 233, 233);
    /* background-image: url(images/username.png); 
    background-position: 10px 10px;  */
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 16px;
    border:none;
    /* border-bottom: 5px solid black; */
    outline: none;
}
button
{
    padding: 10px;
    background-color:lightgreen;
    border-color:white;
    margin-left: 150px;
}
.part7
{
    width: 100%;
    height: 200px;
    background-color: black;
}
.part7 .sec
{
width: 100%;
height: 200px;
display: flex;
padding: 30px;
margin-left: 130px;
color: white;
}
.part7 .sec .sub
{
    width: 20%;
    height: 200px;
    float: left;
    padding-right: 15px;
    padding-left: 15px; 
}

.part7 .sec .sub h3
{
    padding-bottom: 15px;
    text-align: center;
}
.part7 .sec .sub p
{
    text-align: justify;
} 

