*
{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
}
.wrapper
{
    height: 100%;
    width: 100%;
    position: relative; 
    background-color:rgb(251, 230, 230);
}
.nav
{
    height:100px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     padding: 2vw 4vw;
     border: 1px black;
}
.nav .cofee a
{
    font-size: 4vw;
    color: chocolate;
}
.nav h1
{
font-size: 3.5vw;
font-family: monospace;
color: chocolate;
}
.nav .menu
{
display: flex;
text-decoration: none;
gap: 4vw;
align-items: center;
justify-content: center;
}
.nav .menu a
{
    font-size: 1.5vw;
    text-decoration: none; 
    color:black; 
    color: chocolate;
}
.nav .menu a:hover
{
    background-color: white;
    color:green;
}
.nav .icon
{
  display: none;
}
.content
{
    /* height: calc(100% - 100px); */
    /* background-color: chocolate; */
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content .left
{
    width: 70%;
    padding: 2vw 2vw;
}
.content .left h1
{
    padding: 1vw;
    font-size: 4.5vw;
    color: white;
}
.content .left h1 span
{
    color:green;
}
.content .left p
{
    font-size: 1.5vw;
    text-align: justify;
    margin-top: 3vh;
    margin-bottom: 4vw;
    color:rgb(207, 245, 207);
}
.content .left button
{
    font-size: 1.5vw;
    font-weight: 700;
    background-color: white;
    padding: 1vw 2vw;
    border-radius: 1vw;
}
.content .left button :hover
{
    color: green;
}
.content .right
{
    width: 30%;
    padding: 2vw 2vw;
}
.content .right image
{
    margin-right: 1vw;
    width: 100%;
    height: 100%;
}
@media (max-width:600px) {
    .nav{
        height: 70px;
    }
    .nav h1
    {
        font-size: 6vw; 
    }
    .nav .menu
    {
        display: none;
    }
    .nav .menu a {
        font-size: 10vw;
    }
    .nav .icon
    {
        font-weight: 800;
        display: block;
        font-size: 6vw;
    }
    .content 
    {
        height: 60%;
        flex-direction: column;
    }
    .content .left{
        width: 100%;
    }
    .content .right
    {
        width: auto;
        justify-content: center;
        height: auto;
    }
    .content .left p
    {
        font-size: 2vw;
    }
    .content .left button
    {
        font-size: 2vw;
    }
    .nav .cofee a
    {
        display: none;
    }
}