*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper
{
   width: 70%;
   margin:0 auto;
   overflow-x: hidden;
  
}
.main-header-logo-menu
{
    width: 100%;
    min-height: 60px;
    background-color: rgb(162, 162, 239); 
    
}
.main-header-logo-menu .logo-div
{
    width: 40%;
    min-height: 60px;
    float: left;
 
}

.main-header-logo-menu .menu-div
{
    width: 54%;
    min-height: 60px;
    float: right;
    margin-top: 15px;
    /* padding-top: 20px; */

}
.main-header-logo-menu .logo-div h1
{
     color: white;
     font-size: 24px;
     
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    
}
.main-header-logo-menu .menu-div a
{
    color:white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-family: cursive;
}
.main-header-logo-menu .menu-div a:hover
{
    color: black;
    background-color: lightslategray;
}
.slider
{
    width: 100%;
    min-height: 400px;
    margin-top: 10px; 
    margin-bottom: 10px;
    background-color: lightsteelblue;
}

.main-product-div
{
    width: 100%;
    min-height:200px ;
}
.main-product-div .product-div
{
width: 30%;
min-height:200px;
float:left;
border:2px solid black;
box-shadow: 5px 5px 4px black;
}
.main-product-div .product-div:nth-child(2)
{
    margin-left: 10px;
    margin-right: 10px;
}
.main-product-div .product-div:nth-child(1)
{
    margin-left: 10px;
}

.main-product-div .product-div h3
{
    text-align: center;
    line-height: 300px;
    color: black;
}

.main-content-div
{
    width: 100%;
    min-height: 300px;
    background-color: rgb(98, 212, 174);
}
.main-content-div h3
{
font-size: 28px;
font-family: cursive;
color: black;
padding-left: 20px;
padding-right: 20px;
}
.main-content-div h4
{
font-size: 28px;
font-family: cursive;
color: black;
padding-left: 20px;
padding-right: 20px;
}
.main-content-div p
{
    padding: 20px;
    font-size:18px;
    text-align: justify ;
}
.footer
{
   width: 100%;
   min-height: 50px;
   background-color: rgb(205, 132, 42);
   color: white;
}
.footer h3
{
    text-align: center;
    line-height: 50px;
    
}
.slider img
{
width: 100%;
}
.main-product-div .product-div img
{
    
width: 80%;

margin-left: 70px;
}
