*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper
{
    width: 80%;
    height:1500px;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    margin:50px  auto;
    padding: 20px; 
}

.part1
{
    width: 100%;
    height: 70px;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(220, 239, 239);
}
.part1 .logo
{
    width: 23%;
    /* border: 1px black solid; */
    padding: 5px;
}
.part1 .logo h2
{
    padding: 10px;
    color: lightcoral;
    font-size: 30px;
    line-height: 40px;
}
.part1 .menu
{
    width: 50%;
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    flex-direction: row;
    padding: 15px;
    padding-left:30px ;
}
.part1 .menu ul li
{
    display:inline;    
}
.part1 .menu ul li a
{
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
    padding: 8px;
    height: 380px;
    line-height: 40px;
    color: lightcoral;
}
.part1 .menu li a
{
    padding-top: 10px;
    text-align: center;
}
.part1 .menu li a:hover
{
color: white;
background-color: blue;
}
.part1 .icons
{
    width: 25%;
    display: flex;
    flex-direction: row;
    padding: 10px; 
    line-height: 80px;
    /* padding-top: 20px; */
    /* border: 1px black solid; */
}
.part1 .icons ion-icon
{
    width: 25px;
    height: 25px;
    padding: 7px;
    padding-left:20px ;
    line-height: 40px;
}
.part1 .icons ul li
{
display: inline;
}
.part1 .icons li a
{
    color:lightcoral;

}
.part1 .icons li a:hover
{
    color: white;
    background-color: blue;
   
}
.part2 
{
    width: 100%;
    height: 380px;
    margin-top: 5px;
    padding: 10px;
    /* border: 1px black solid; */
    background-color: rgb(236, 248, 248);
}
.part2  p
{
    text-align: justify;
    padding: 10px;
    font-weight: normal;
}
.part3
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
    /* border: 1px black solid; */
    justify-content: space-between;
    margin-top: 5px;
}
.part3 .box
{
    background-color: rgb(242, 242, 220);
    display: flex;
    flex-direction: column;
    width: 32%;
    height:460px;
    /* border: 1px black solid;    */
    background-color: rgb(223, 228, 228);
}
.part4
{
    width: 100%;
    height: 330px;
    margin-top: 5px;
    /* border: 1px black solid; */
    padding: 10px;
    background-color: rgb(249, 199, 205);
}
.part4 p
{
    padding: 10px;
    text-align: justify;
}
.part5
{
    width: 100%;
    height: 450px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    /* border: 1px black solid; */
    justify-content: space-between;
   
}
.part5 .box
{
    width: 32%;
    height: 450px;
    /* border: 1px black solid; */
    justify-content: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
   padding-left: 60px;
   gap: 25px;
   background-color: goldenrod;
}
.part5 .box .sub-box
{
    width: 70%;
    height: 225px;
    border: 1px black solid;
   /* background-color: white; */
}
.part6
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: lightgreen;
}