*
{
    margin: 0;
    height: auto;
    box-sizing: border-box;
}
.wrapper
{
width: 80vw;
margin: auto;
height: auto;
border: 1px black solid;
background-color: lightblue;
}
.navbar
{
  width: 100vw;
  background-color:red;
  display: flex;
  flex-direction: row
}
.nav-list
{
  background-color:red;
}
.rightnav
{
  background-color: black;
  display: flex;
}