*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.wrapper
{
    width: 95%;
    margin:0 auto;
    overflow-x: hidden;
    border: 10px solid lightskyblue;
   border-style:groove;
    min-height: 900px;
    padding: 10px;
    
}
.header
{
    width: 100%;
    min-height: 70px;
    /* border: 1px solid black; */
   background-color: blanchedalmond;
    line-height: 20px;
}

.header .company-name
{
    float: left;
    width: 30%;
    padding: 20px;
    margin-top: 10px;
   
}
.header .company-name h1
{
    color:blue;
    font-size: 50px;
}

.header .company-name p
{
size: 50px;
font-weight: bold;
}

.header .menu
{
width: 55%;
float: left;
padding: 20px;
margin-top: 10px;

}

.header .menu a
{
    color:black;
    text-decoration: none;
    padding: 10px;
    
}

.header .menu a:hover
{
    background-color: white;
    color:blue;
    transform:translatey(-20px);
}

.header .contact
{
width: 15%;
float: left;
padding: 20px;
margin-top: 10px;

}

.landing-page-main
{
    margin-top: 5px;
    /* border: 1px solid black; */
    width: 100%;
    min-height: 650px;  
}

.landing-page-main .landing-page
{
    width: 30%;
    min-width: 250px;
    float: left;
    margin-right: 50px;
    padding-right:50px ;
    margin-left: 10px;
    padding-top: 20px;
    margin-right: 10px;
    /* border: 1px solid black; */
    
}
.landing-page-main .landing-page button
{
    width: 80px;
    height: 30px;
    color: black;
    background-color: blanchedalmond;
    
}
.landing-page-main .landing-page button:hover
{
    background-color: white;
    color:blue;
}

.landing-page-main .landing-page p
{
    text-align: justify;
}

.landing-page-main .landing-page a
{
    background-color:rgb(82, 179, 211);
    color: white;
}

.landing-page-main .video
{
    width: 10%;
    float: right;
    padding-top: 50px;
    padding-bottom: 50px;
    padding:20px;
    background-color: rgb(239, 21, 21);
    /* border: 1px solid black; */
    margin-left: 250px;
}

.article_container
{
    width: 100%;
    height: 350px;
    margin: 10px;
    display: flex;
    padding: 10px;
}

.article_container .sub
{
    width: 27%;
    height: 300px;
    padding-right:10px;
}

.article_container .sub img 
{
    width: 90%;
    height: 200px;
}
.article_container .sub p
{
  text-align: justify;
  margin-right: 30px;
  height: 50px;   
}
.main-company-advantage
{
    width: 100%;
    height: 450px;
    /* border: 1px solid black; */
    background-color:rgb(211, 207, 207);
}

.main-company-advantage .company-header
{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
}
.main-company-advantage .company-header div1
{
    float: left;
    width: 80%;
    /* border: 1px solid black; */
}
.main-company-advantage .company-header div1 h1
{
    margin-left: 60px;
    margin-top: 20px;


}
.main-company-advantage .company-header div2
{
    float: left;
    width: 20%;
    /* border: 1px solid black; */
}
.main-company-advantage .company-header div2 .sub
{
    float: left;
    width: 40px;
    height: 36px;
    margin-left: 30px;
    margin-right: 10px;
    padding: 6px;
    /* border: 1px solid black; */
    margin-top: 20px;
    background-color: grey;
}
.main-company-advantage .main-section
{
width: 100%;
height: 370px;
/* border: 1px solid black; */
margin-top: 10px;
display: flex;
padding: 10px;
}

.main-company-advantage .main-section .sub1
{
width: 65%;
/* border: 1px solid black; */
float: left;
height: 370px;
}

.main-company-advantage .main-section .sub1 .subsub1
{
    width: 100%;
    height: 115px;
    /* border: 1px solid black; */
    display: flex;
    padding: 10px;
}

.main-company-advantage .main-section .sub1 .subsub1 .subb
{
    float: left;
    width: 50%;
    /* border: 1px solid black; */
    float: left;
    margin-left: 25px;
}

.main-company-advantage .main-section .sub2
{
    width: 50%;
    /* border: 1px solid black; */
    background-color: grey;
    height: 370px;
    text-align: center;
    line-height: 250px;
    float: left;
    margin-left: 15px;
}

.main-company-advantage .main-section .sub1 .subsub1 .subb 
{
    width: 100%;
}
.main-company-advantage .main-section .sub1 .subsub1 .subb .s1 
{
    width: 15%;
    float: left;
    /* border: 1px solid black; */
    background-color: white;
    height:45px;
    margin-top: 25px;
    margin-left: 20px;
}

.main-company-advantage .main-section .sub1 .subsub1 .subb .s2 
{
    width: 75%;
    float: left;
   margin-left: 10px;
    margin-top: 20px;
    height: 50px;
}