.*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper
{
    width: 80%;
    min-height: auto;
    margin-left: 200px; ;
}
.wrapper .header
{
    border: 1px black solid;
    background-color: white;
    width: 100%;
    min-height: auto;
    text-align: center;
    line-height: 20px;
}

.header .nav
{
    border: 1px black solid;
    background-color: lightblue;
    min-height: 5px;
    text-align: center;
   
}

.section 
{
width: 100%;
min-height: 800px;
margin-top: 10px;
}

.section .main-section1
{
    width: 61%;
    float: left;
    border: 1px black solid;
    background-color: lightgreen;
    min-height:770px;
    text-align: center;
    line-height: 5px;
}
.section .main-section1 .sec-header
{
    background-color: white;
    width: 93%;
    min-height: 10px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    margin-right:10px ;
    margin-top: 20px;
    border: 1px black solid;
    
}
.section .main-section1 .sec-article
{
    background-color: lightpink;
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    border: 1px black solid;
    min-height: 590px;
}
.section .main-section1 .sec-article .artical-header
{
    background-color: white;
    width: 95%;
    min-height: 30px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    margin-right:10px ;
    border: 1px black solid;
}
.section .main-section1 .sec-article .artical-para
{
    background-color: lightgrey;
    min-height: 198px;
    min-width: 95%;
    text-align: center;
    line-height: 30px;
    margin: 10px;
    border: 1px black solid;
}
.section .main-section1 .sec-article .main-two-sec
{
    border: 1px black solid;
    width: 93%;
    margin: 10px;
    max-width: 10px;
    min-height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.section .main-section1 .sec-article .main-two-sec .sub-sec1
{
    /* float: left; */
    
    margin-left:10px;
    border: 1px black solid;
    background-color: rgb(223, 223, 56);
}
.section .main-section1 .sec-article .main-two-sec .sub-sec2
{
    /* float: right; */
    
    margin-left:10px;
    border: 1px black solid;
    background-color: rgb(223, 223, 56);
}

.section .main-section1 .sec-article .sec-footer
{
  
    min-height: 30px;
    border: 1px black solid;
    text-align: center;
    line-height: 20px;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: greenyellow; 
    margin-bottom: 10px;
}

.section .main-section2
{
    width: 38%;
    background-color: orange;
    float: right;
    min-height:770px;
    text-align: center;
    line-height: 5px;
    border: 1px black solid;
}
.section .main-section2 .sec2-header
{
    background-color: white;
    width: 93%;
    min-height: 10px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    margin-right:10px ;
    margin-top: 20px;
    border: 1px black solid;
}

.section .main-section2 .sec2-nav
{
    background-color: lightblue;
    width: 93%;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    line-height:20px; 
    border: 1px black solid;
    min-height: 638px;
}
.footer
{
    min-width: 100%;
    min-height: 30px;
    border: 1px black solid;
    text-align: center;
    line-height: 20px;
    background-color: greenyellow;
}

